body {  
    background-color: rgb(236, 234, 234);
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 96vh;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #d5d9dc;
    border: 1px solid rgb(189, 169, 57);
    border-radius: 5px;
    font-size: 15px;
}

.logo img {
    max-height: 60px;
    margin: 5px 5px 5px 20px;
}
  
h1 {
    text-align: center;
    margin: 0 120px 0 0;
    color: rgb(70, 61, 13);
}

#searchInput {
    margin-top: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 500px; /* Ajuste conforme necessário */
}

#searchInput:focus {
    outline: none; /* Remove a borda de foco padrão */
    border-color: dodgerblue; /* Altere a cor da borda quando o elemento está em foco */
}

table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    margin-top: 5px;
}

.table-diferente {
    width: 100%;
    border-spacing: 0;
    margin-top: 5px;
}

 
tr td {
    margin: 10px;
    padding: 10px;
    white-space: nowrap;
}

form {
    margin-top: 5px;
    border: 1px solid rgb(189, 169, 57);
    border-radius: 5px;
    font-size: 15px;
}

fieldset {
    border: 1px solid rgb(189, 169, 57);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    /* overflow: auto; Adiciona rolagem se o conteúdo ultrapassar as dimensões do fieldset */
}

.linha-diferente {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 14px;  
}

.label-diferente {
    width: 200%;
    display: block;
    margin-bottom: 5px;
    text-align: left;   
    margin-left: 4px;
}

.label-diferente2 {
    display: block;
    margin-bottom: 5px;
    text-align: left;   
    margin-left: 7px;
}

.custom-fieldset {
    border: 1px solid rgb(189, 169, 57);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center; /* Centraliza os itens no eixo horizontal */
    align-items: center; /* Centraliza os itens no eixo vertical */
    text-align: center; /* Centraliza o texto */
    margin: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
    text-align: left;   
    margin-left: 25px;
}

input {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
}
.custom-form-group {
    border: 1px solid rgb(189, 169, 57);
    width: 11%;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
}

.custom-form-groups {
    width: 90%;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    /* display: block; */
    /* text-align: left; */
}

.calcular-btn {
    padding: 10px;
    width: 500px;
    background-color: rgb(236, 234, 234);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    border: 1px solid rgb(189, 169, 57);
    border-radius: 5px;
    color:black;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

.cadastrar-btn {
    padding: 10px;
    width: 500px;
    background-color: rgb(236, 234, 234);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    border: 1px solid rgb(189, 169, 57);
    border-radius: 5px;
    color:black;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

.remove-btn {
    padding: 10px;
    width: 120px;
    background-color: rgb(236, 234, 234);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    border: 1px solid rgb(189, 169, 57);
    border-radius: 5px;
    color:black;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

.edit-btn {
    padding: 10px;
    width: 120px;
    background-color: rgb(236, 234, 234);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    border: 1px solid rgb(189, 169, 57);
    border-radius: 5px;
    color:black;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

.pagina-principal-btn {
    padding: 10px;
    background-color: #d5d9dc;
    border: 1px solid rgb(189, 169, 57);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin: 10px 0px 10px 0px;
}

.exportar-btn {
    padding: 10px;
    background-color: #d5d9dc;
    border: 1px solid rgb(189, 169, 57);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
    margin: 10px 0px 10px 0px;
    clear: both; /* Adiciona esta propriedade */
}

.exportar-btn:hover {
    background-color: #becbd4; /* Cor de fundo verde mais escura quando hover */
}


.generate-word {
    padding: 10px;
    width: 120px;
    background-color: rgb(236, 234, 234);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    border: 1px solid rgb(189, 169, 57);
    border-radius: 5px;
    color:black;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

button:hover {
    background-color:#d5d9dc;
    color:  rgb(189, 169, 57);
}

/* Estilo para a lista principal */
.dropdown-container {
    position: relative;
    display: inline-block;
}

/* Estilo para o item "Inserir" */
.main-option {
    font-weight: bold;
    color: black;
}

/* Estilo para o contêiner das opções */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(236, 234, 234);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
}

/* Estilo para as opções individuais */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Mostrar as opções ao passar o mouse sobre o item "Inserir" */
.dropdown-container:hover .dropdown-content {
    display: block;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    width: 200px;
    padding: 10px;
    border: 1px solid rgb(189, 169, 57);
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background-color:#d5d9dc;
    color:  rgb(189, 169, 57);
}

footer {
    margin-top: auto;
    font-size: 10px;
  }