<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
</head>
<body>
    <h1>Editar Cliente</h1>
    <form method="post">
        {% csrf_token %}

        <label for="cli_id">ID CLIENTE:</label>
        <input type="text" name="cli_id" value="{{ clientes.cli_id }}" required>

        <label for="cli_razaosocial">Razão Social:</label>
        <input type="text" name="cli_razaosocial" value="{{ clientes.cli_razaosocial }}" required>

        <label for="cli_nomefantasia">Nome Fantasia:</label>
        <input type="text" name="cli_nomefantasia" value="{{ clientes.cli_nomefantasia }}" required>

        <label for="cli_cnpj">CNPJ:</label>
        <input type="text" name="cli_cnpj" value="{{ clientes.cli_cnpj }}" required>

        <label for="cli_im">Inscrição Municipal:</label>
        <input type="text" name="cli_im" value="{{ clientes.cli_im}}" required>

        <label for="cli_ie">Inscrição Estadual:</label>
        <input type="text" name="cli_ie" value="{{ clientes.cli_ie }}" required>

        <label for="cli_email1">E-mail:</label>
        <input type="text" name="cli_email1" value="{{ clientes.cli_email1 }}" required>

        <label for="cli_email2">E-mail2:</label>
        <input type="text" name="cli_email2" value="{{ clientes.cli_email2 }}" required>

        <label for="cli_telefone1">Telefone:</label>
        <input type="text" name="cli_telefone1" value="{{ clientes.cli_telefone1 }}" required>

        <label for="cli_telefone2">Telefone2:</label>
        <input type="text" name="cli_telefone2" value="{{ clientes.cli_telefone2 }}" required>

        <label for="cli_enderereco">Endereço:</label>
        <input type="text" name="cli_enderereco" value="{{ clientes.cli_enderereco }}" required>

        <label for="cli_complementoenderereco">Complemento:</label>
        <input type="text" name="cli_complementoenderereco" value="{{ clientes.cli_complementoenderereco }}" required>

        <label for="cli_cep">CEP:</label>
        <input type="text" name="cli_cep" value="{{ clientes.cli_cep }}" required>

        <label for="cli_bairro">Bairro:</label>
        <input type="text" name="cli_bairro" value="{{ clientes.cli_bairro }}" required>

        <label for="cli_cidade">Cidade:</label>
        <input type="text" name="cli_cidade" value="{{ clientes.cli_cidade }}" required>

        <label for="cli_estado">Estado:</label>
        <input type="text" name="cli_estado" value="{{ clientes.cli_estado }}" required>

        <label for="cli_taxacompra">Taxa de Compra %:</label>
        <input type="text" name="cli_taxacompra" value="{{ clientes.cli_taxacompra }}" required>

        <label for="cli_multa">Multa %:</label>
        <input type="text" name="cli_multa" value="{{ clientes.cli_multa }}" required>

        <label for="cli_juros">Juros %:</label>
        <input type="text" name="cli_juros" value="{{ clientes.cli_juros }}" required>

        <label for="cli_taxarecompra">Taxa Recompra $:</label>
        <input type="text" name="cli_taxarecompra" value="{{ clientes.cli_taxarecompra }}" required>

        <label for="cli_valortotaloperacao">Valor Total Operação:</label>
        <input type="text" name="cli_valortotaloperacao" value="{{ clientes.cli_valortotaloperacao }}" required>

        <label for="cli_datacadastro">Data Cadastro:</label>
        <input type="date" name="cli_datacadastro" value="{{ clientes.cli_datacadastro|date:'Y-m-d' }}" required>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>