<!DOCTYPE html>
{% load meus_filtros %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Operação</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        .container {
            margin-top: 20px;
        }

        form {
            margin-bottom: 15px;
            text-align: left;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="submit"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #0066cc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #0066cc;
            color: #fff;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #005bb5;
        }
    </style>
</head>
<body>
    <h1>Gerar Operação</h1>
      <main class="container"> 
      <form method="post">
        {% csrf_token %}     
        <div style="display: inline-block; width: 15%; margin-right: 2%;">
          <label for="ope_dataoperacao">Data Operação:</label>
          <input type="date" id="ope_dataoperacao" name="ope_dataoperacao" value="{{ form.initial.ope_dataoperacao|date:'Y-m-d' }}" required>
        </div>

        <div style="display: inline-block; width: 15%; margin-right: 2%;">
          <label for="ope_status">Status:</label>
          <select name="ope_status" id="ope_status" required>
              {% for value, label in form.fields.ope_status.choices %}
                  <option value="{{ value }}" {% if form.instance.ope_status == value %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
          </select>   
        </div>

        <div style="clear: both;"></div>

        <div class="form-group" style="display: inline-block; width: 15%; margin-right: 2%;">
          {{ form.cli_id.errors }}
            <label for="{{ form.cli_id.id_for_label }}" class="form-control">ID Cliente:</label>
          {{ form.cli_id }}
        </div>

        <div class="form-group" style="display: inline-block; width: 15%; margin-right: 2%;">
          {{ form.fac_id.errors }}
            <label for="{{ form.fac_id.id_for_label }}" class="form-control">ID Factoring:</label>
          {{ form.fac_id }}
        </div>

        <div class="form-group" style="display: inline-block; width: 15%; margin-right: 2%;">
          {{ form.cma_id.errors }}
            <label for="{{ form.cma_id.id_for_label }}" class="form-control">ID Contrato Mãe:</label>
          {{ form.cma_id }}
        </div>

        <div style="clear: both;"></div>

        <div class="form-group" style="display: inline-block; width: 12%; margin-right: 2%;">
          <label for="ope_taxadecompra">Taxa de Compra %:</label>
          <input type="text" id="ope_taxadecompra" name="ope_taxadecompra" value="{% if form.initial.ope_taxadecompra %}{{ form.initial.ope_taxadecompra|stringformat:"f" }}{% endif %}" required>
        </div>
        
        <div class="form-group" style="display: inline-block; width: 12%; margin-right: 2%;">
          <label for="ope_iof">IOF Anual %:</label>
          <input type="text" id="ope_iof" name="ope_iof" value="{% if form.initial.ope_iof %}{{ form.initial.ope_iof|stringformat:"f" }}{% endif %}" required>
        </div>
        
        <div class="form-group" style="display: inline-block; width: 12%; margin-right: 2%;">
          <label for="ope_iofadicional">IOF Adicional %:</label>
          <input type="text" id="ope_iofadicional" name="ope_iofadicional" value="{% if form.initial.ope_iofadicional %}{{ form.initial.ope_iofadicional|stringformat:"f" }}{% endif %}" required>
        </div>
        
        <div class="form-group" style="display: inline-block; width: 12%; margin-right: 2%;">
          <label for="ope_despesas">Despesas $ (-):</label>
          <input type="text" id="ope_despesas" name="ope_despesas" value="{% if form.initial.ope_despesas %}{{ form.initial.ope_despesas|stringformat:"f" }}{% endif %}" required>
        </div>
        
        <div class="form-group" style="display: inline-block; width: 12%; margin-right: 2%;">
          <label for="ope_acrescimos">Acréscimos $ (+):</label>
          <input type="text" id="ope_acrescimos" name="ope_acrescimos" value="{% if form.initial.ope_acrescimos %}{{ form.initial.ope_acrescimos|stringformat:"f" }}{% endif %}" required>
        </div>

        <div class="form-group" style="display: inline-block; width: 12%; margin-right: 2%;">
          <label for="ope_myfloat">MyFloat:</label>
          <input type="text" id="ope_myfloat" name="ope_myfloat" value="{% if form.initial.ope_myfloat %}{{ form.initial.ope_myfloat|stringformat:"f" }}{% endif %}" required>
        </div>
       
        <table>
            <tr>
              <th colspan="2">Detalhes da Operação</th>
            </tr>
            <tr>
              <td><label for="ope_numtitulo1">Nº Título:</label></td>
              <td><input type="text" id="ope_numtitulo1" name="ope_numtitulo1" value="{{ form.instance.ope_numtitulo1 }}" required></td>
              <td><input type="text" id="ope_numtitulo2" name="ope_numtitulo2" value="{{ form.instance.ope_numtitulo2 }}" aria-label="Nº Título 2"></td>
              <td><input type="text" id="ope_numtitulo3" name="ope_numtitulo3" value="{{ form.instance.ope_numtitulo3 }}" aria-label="Nº Título 3"></td>
              <td><input type="text" id="ope_numtitulo4" name="ope_numtitulo4" value="{{ form.instance.ope_numtitulo4 }}" aria-label="Nº Título 4"></td>
              <td><input type="text" id="ope_numtitulo5" name="ope_numtitulo5" value="{{ form.instance.ope_numtitulo5 }}" aria-label="Nº Título 5"></td>
              <td><input type="text" id="ope_numtitulo6" name="ope_numtitulo6" value="{{ form.instance.ope_numtitulo6 }}" aria-label="Nº Título 6"></td>
            </tr>
            <tr>
              <td><label for="ope_razaosocial1">Razão Social:</label></td>
              <td><input type="text" id="ope_razaosocial1" name="ope_razaosocial1" value="{{ form.instance.ope_razaosocial1 }}" required></td>
              <td><input type="text" id="ope_razaosocial2" name="ope_razaosocial2" value="{{ form.instance.ope_razaosocial2 }}" aria-label="Razão Social 2"></td>
              <td><input type="text" id="ope_razaosocial3" name="ope_razaosocial3" value="{{ form.instance.ope_razaosocial3 }}" aria-label="Razão Social 3"></td>
              <td><input type="text" id="ope_razaosocial4" name="ope_razaosocial4" value="{{ form.instance.ope_razaosocial4 }}" aria-label="Razão Social 4"></td>
              <td><input type="text" id="ope_razaosocial5" name="ope_razaosocial5" value="{{ form.instance.ope_razaosocial5 }}" aria-label="Razão Social 5"></td>
              <td><input type="text" id="ope_razaosocial6" name="ope_razaosocial6" value="{{ form.instance.ope_razaosocial6 }}" aria-label="Razão Social 6"></td>
            </tr>         
            <tr>
              <td><label for="ope_cnpj1">CNPJ:</label></td>
              <td><input type="text" id="ope_cnpj1" name="ope_cnpj1" value="{{ form.instance.ope_cnpj1 }}" required></td>
              <td><input type="text" id="ope_cnpj2" name="ope_cnpj2" value="{{ form.instance.ope_cnpj2 }}" aria-label="CNPJ 2"></td>
              <td><input type="text" id="ope_cnpj3" name="ope_cnpj3" value="{{ form.instance.ope_cnpj3 }}" aria-label="CNPJ 3"></td>
              <td><input type="text" id="ope_cnpj4" name="ope_cnpj4" value="{{ form.instance.ope_cnpj4 }}" aria-label="CNPJ 4"></td>
              <td><input type="text" id="ope_cnpj5" name="ope_cnpj5" value="{{ form.instance.ope_cnpj5 }}" aria-label="CNPJ 5"></td>
              <td><input type="text" id="ope_cnpj6" name="ope_cnpj6" value="{{ form.instance.ope_cnpj6 }}" aria-label="CNPJ 6"></td>
            </tr>                    
            <tr>
              <td><label for="ope_email1">E-mail:</label></td>
              <td><input type="email" id="ope_email1" name="ope_email1" value="{{ form.instance.ope_email1 }}" required></td>
              <td><input type="email" id="ope_email2" name="ope_email2" value="{{ form.instance.ope_email2|default:'' }}" aria-label="E-mail 2"></td>
              <td><input type="email" id="ope_email3" name="ope_email3" value="{{ form.instance.ope_email3|default:'' }}" aria-label="E-mail 3"></td>
              <td><input type="email" id="ope_email4" name="ope_email4" value="{{ form.instance.ope_email4|default:'' }}" aria-label="E-mail 4"></td>
              <td><input type="email" id="ope_email5" name="ope_email5" value="{{ form.instance.ope_email5|default:'' }}" aria-label="E-mail 5"></td>
              <td><input type="email" id="ope_email6" name="ope_email6" value="{{ form.instance.ope_email6|default:'' }}" aria-label="E-mail 6"></td>
              
            </tr>          
            <tr>
              <td><label for="ope_telefone1">Telefone:</label></td>
              <td><input type="text" id="ope_telefone1" name="ope_telefone1" value="{{ form.instance.ope_telefone1 }}" required></td>
              <td><input type="text" id="ope_telefone2" name="ope_telefone2" value="{{ form.instance.ope_telefone2 }}" aria-label="Telefone 2"></td>
              <td><input type="text" id="ope_telefone3" name="ope_telefone3" value="{{ form.instance.ope_telefone3 }}" aria-label="Telefone 3"></td>
              <td><input type="text" id="ope_telefone4" name="ope_telefone4" value="{{ form.instance.ope_telefone4 }}" aria-label="Telefone 4"></td>
              <td><input type="text" id="ope_telefone5" name="ope_telefone5" value="{{ form.instance.ope_telefone5 }}" aria-label="Telefone 5"></td>
              <td><input type="text" id="ope_telefone6" name="ope_telefone6" value="{{ form.instance.ope_telefone6 }}" aria-label="Telefone 6"></td>
            </tr>          
            <tr>
              <td><label for="ope_nomecontato1">Nome Contato:</label></td>
              <td><input type="text" id="ope_nomecontato1" name="ope_nomecontato1" value="{{ form.instance.ope_nomecontato1 }}" required></td>
              <td><input type="text" id="ope_nomecontato2" name="ope_nomecontato2" value="{{ form.instance.ope_nomecontato2 }}" aria-label="Nome Contato 2"></td>
              <td><input type="text" id="ope_nomecontato3" name="ope_nomecontato3" value="{{ form.instance.ope_nomecontato3 }}" aria-label="Nome Contato 3"></td>
              <td><input type="text" id="ope_nomecontato4" name="ope_nomecontato4" value="{{ form.instance.ope_nomecontato4 }}" aria-label="Nome Contato 4"></td>
              <td><input type="text" id="ope_nomecontato5" name="ope_nomecontato5" value="{{ form.instance.ope_nomecontato5 }}" aria-label="Nome Contato 5"></td>
              <td><input type="text" id="ope_nomecontato6" name="ope_nomecontato6" value="{{ form.instance.ope_nomecontato6 }}" aria-label="Nome Contato 6"></td>
            </tr>          
            <tr>
              <td><label for="ope_endereco1">Endereço:</label></td>
              <td><input type="text" id="ope_endereco1" name="ope_endereco1" value="{{ form.instance.ope_endereco1 }}" required></td>
              <td><input type="text" id="ope_endereco2" name="ope_endereco2" value="{{ form.instance.ope_endereco2 }}" aria-label="Endereço 2"></td>
              <td><input type="text" id="ope_endereco3" name="ope_endereco3" value="{{ form.instance.ope_endereco3 }}" aria-label="Endereço 3"></td>
              <td><input type="text" id="ope_endereco4" name="ope_endereco4" value="{{ form.instance.ope_endereco4 }}" aria-label="Endereço 4"></td>
              <td><input type="text" id="ope_endereco5" name="ope_endereco5" value="{{ form.instance.ope_endereco5 }}" aria-label="Endereço 5"></td>
              <td><input type="text" id="ope_endereco6" name="ope_endereco6" value="{{ form.instance.ope_endereco6 }}" aria-label="Endereço 6"></td>
            </tr>          
            <tr>
              <td><label for="ope_complementoendereco1">Complemento Endereço:</label></td>
              <td><input type="text" id="ope_complementoendereco1" name="ope_complementoendereco1" value="{{ form.instance.ope_complementoendereco1 }}" required></td>
              <td><input type="text" id="ope_complementoendereco2" name="ope_complementoendereco2" value="{{ form.instance.ope_complementoendereco2 }}" aria-label="Complemento Endereço 2"></td>
              <td><input type="text" id="ope_complementoendereco3" name="ope_complementoendereco3" value="{{ form.instance.ope_complementoendereco3 }}" aria-label="Complemento Endereço 3"></td>
              <td><input type="text" id="ope_complementoendereco4" name="ope_complementoendereco4" value="{{ form.instance.ope_complementoendereco4 }}" aria-label="Complemento Endereço 4"></td>
              <td><input type="text" id="ope_complementoendereco5" name="ope_complementoendereco5" value="{{ form.instance.ope_complementoendereco5 }}" aria-label="Complemento Endereço 5"></td>
              <td><input type="text" id="ope_complementoendereco6" name="ope_complementoendereco6" value="{{ form.instance.ope_complementoendereco6 }}" aria-label="Complemento Endereço 6"></td>
            </tr>          
            <tr>
              <td><label for="ope_cep1">CEP:</label></td>
              <td><input type="text" id="ope_cep1" name="ope_cep1" value="{{ form.instance.ope_cep1 }}" required></td>
              <td><input type="text" id="ope_cep2" name="ope_cep2" value="{{ form.instance.ope_cep2 }}" aria-label="CEP 2"></td>
              <td><input type="text" id="ope_cep3" name="ope_cep3" value="{{ form.instance.ope_cep3 }}" aria-label="CEP 3"></td>
              <td><input type="text" id="ope_cep4" name="ope_cep4" value="{{ form.instance.ope_cep4 }}" aria-label="CEP 4"></td>
              <td><input type="text" id="ope_cep5" name="ope_cep5" value="{{ form.instance.ope_cep5 }}" aria-label="CEP 5"></td>
              <td><input type="text" id="ope_cep6" name="ope_cep6" value="{{ form.instance.ope_cep6 }}" aria-label="CEP 6"></td>
            </tr>          
            <tr>
              <td><label for="ope_bairro1">Bairro:</label></td>
              <td><input type="text" id="ope_bairro1" name="ope_bairro1" value="{{ form.instance.ope_bairro1 }}" required></td>
              <td><input type="text" id="ope_bairro2" name="ope_bairro2" value="{{ form.instance.ope_bairro2 }}" aria-label="Bairro 2"></td>
              <td><input type="text" id="ope_bairro3" name="ope_bairro3" value="{{ form.instance.ope_bairro3 }}" aria-label="Bairro 3"></td>
              <td><input type="text" id="ope_bairro4" name="ope_bairro4" value="{{ form.instance.ope_bairro4 }}" aria-label="Bairro 4"></td>
              <td><input type="text" id="ope_bairro5" name="ope_bairro5" value="{{ form.instance.ope_bairro5 }}" aria-label="Bairro 5"></td>
              <td><input type="text" id="ope_bairro6" name="ope_bairro6" value="{{ form.instance.ope_bairro6 }}" aria-label="Bairro 6"></td>
            </tr>          
            <tr>
              <td><label for="ope_cidade1">Cidade:</label></td>
              <td><input type="text" id="ope_cidade1" name="ope_cidade1" value="{{ form.instance.ope_cidade1 }}" required></td>
              <td><input type="text" id="ope_cidade2" name="ope_cidade2" value="{{ form.instance.ope_cidade2 }}" aria-label="Cidade 2"></td>
              <td><input type="text" id="ope_cidade3" name="ope_cidade3" value="{{ form.instance.ope_cidade3 }}" aria-label="Cidade 3"></td>
              <td><input type="text" id="ope_cidade4" name="ope_cidade4" value="{{ form.instance.ope_cidade4 }}" aria-label="Cidade 4"></td>
              <td><input type="text" id="ope_cidade5" name="ope_cidade5" value="{{ form.instance.ope_cidade5 }}" aria-label="Cidade 5"></td>
              <td><input type="text" id="ope_cidade6" name="ope_cidade6" value="{{ form.instance.ope_cidade6 }}" aria-label="Cidade 6"></td>
            </tr>          
            <tr>
              <td><label for="ope_estado1">Estado:</label></td>
              <td><input type="text" id="ope_estado1" name="ope_estado1" value="{{ form.instance.ope_estado1 }}" required></td>
              <td><input type="text" id="ope_estado2" name="ope_estado2" value="{{ form.instance.ope_estado2 }}" aria-label="Estado 2"></td>
              <td><input type="text" id="ope_estado3" name="ope_estado3" value="{{ form.instance.ope_estado3 }}" aria-label="Estado 3"></td>
              <td><input type="text" id="ope_estado4" name="ope_estado4" value="{{ form.instance.ope_estado4 }}" aria-label="Estado 4"></td>
              <td><input type="text" id="ope_estado5" name="ope_estado5" value="{{ form.instance.ope_estado5 }}" aria-label="Estado 5"></td>
              <td><input type="text" id="ope_estado6" name="ope_estado6" value="{{ form.instance.ope_estado6 }}" aria-label="Estado 6"></td>
            </tr>          
            <tr>
              <td><label for="ope_vencimento1">Vencimento:</label></td>
              <td><input type="date" id="ope_vencimento1" name="ope_vencimento1" value="{{ form.initial.ope_vencimento1|date:'Y-m-d' }}" required ></td>
              <td><input type="date" id="ope_vencimento2" name="ope_vencimento2" value="{{ form.initial.ope_vencimento2|date:'Y-m-d' }}" aria-label="Data de ope_vencimento2"></td>
              <td><input type="date" id="ope_vencimento3" name="ope_vencimento3" value="{{ form.initial.ope_vencimento3|date:'Y-m-d' }}" aria-label="Data de ope_vencimento3"></td>
              <td><input type="date" id="ope_vencimento4" name="ope_vencimento4" value="{{ form.initial.ope_vencimento4|date:'Y-m-d' }}" aria-label="Data de ope_vencimento4"></td>
              <td><input type="date" id="ope_vencimento5" name="ope_vencimento5" value="{{ form.initial.ope_vencimento5|date:'Y-m-d' }}" aria-label="Data de ope_vencimento5"></td>
              <td><input type="date" id="ope_vencimento6" name="ope_vencimento6" value="{{ form.initial.ope_vencimento6|date:'Y-m-d' }}" aria-label="Data de ope_vencimento6"></td>              
            </tr>
            <tr>
              <td><label for="ope_valortotal1">Valor Total:</label></td>
              <td><input type="text" id="ope_valortotal1" name="ope_valortotal1" value="{% if form.initial.ope_valortotal1 %}{{ form.initial.ope_valortotal1|stringformat:".2f" }}{% endif %}" required ></td>
              <td><input type="text" id="ope_valortotal2" name="ope_valortotal2" value="{% if form.initial.ope_valortotal2 is not None %}{{ form.initial.ope_valortotal2|stringformat:".2f" }}{% endif %}" aria-label="Valor Total2"></td>
              <td><input type="text" id="ope_valortotal3" name="ope_valortotal3" value="{% if form.initial.ope_valortotal3 is not None %}{{ form.initial.ope_valortotal3|stringformat:".2f" }}{% endif %}" aria-label="Valor Total3"></td>
              <td><input type="text" id="ope_valortotal4" name="ope_valortotal4" value="{% if form.initial.ope_valortotal4 is not None %}{{ form.initial.ope_valortotal4|stringformat:".2f" }}{% endif %}" aria-label="Valor Total4"></td>
              <td><input type="text" id="ope_valortotal5" name="ope_valortotal5" value="{% if form.initial.ope_valortotal5 is not None %}{{ form.initial.ope_valortotal5|stringformat:".2f" }}{% endif %}" aria-label="Valor Total5"></td>
              <td><input type="text" id="ope_valortotal6" name="ope_valortotal6" value="{% if form.initial.ope_valortotal6 is not None %}{{ form.initial.ope_valortotal6|stringformat:".2f" }}{% endif %}" aria-label="Valor Total6"></td>
            </tr>
            <tr>
              <td><label for="ope_prazo1">Prazo:</label></td>
              <td><input type="text" id="ope_prazo1" name="ope_prazo1" value="{{ form.instance.ope_prazo1 }}" required></td>
              <td><input type="text" name="ope_prazo2" value="{{ form.instance.ope_prazo2 }}" aria-label="Prazo 2"></td>
              <td><input type="text" name="ope_prazo3" value="{{ form.instance.ope_prazo3 }}" aria-label="Prazo 3"></td>
              <td><input type="text" name="ope_prazo4" value="{{ form.instance.ope_prazo4 }}" aria-label="Prazo 4"></td>
              <td><input type="text" name="ope_prazo5" value="{{ form.instance.ope_prazo5 }}" aria-label="Prazo 5"></td>
              <td><input type="text" name="ope_prazo6" value="{{ form.instance.ope_prazo6 }}" aria-label="Prazo 6"></td>              
            </tr>
            <tr>
              <td><label for="ope_taxadecompraefetiva1">Taxa de Compra Efetiva:</label></td>
              <td><input type="text" id="ope_taxadecompraefetiva1" name="ope_taxadecompraefetiva1" value="{{ form.instance.ope_taxadecompraefetiva1 }}" required></td>
              <td><input type="text" name="ope_taxadecompraefetiva2" value="{{ form.instance.ope_taxadecompraefetiva2 }}" aria-label="Taxa de Compra Efetiva 2"></td>
              <td><input type="text" name="ope_taxadecompraefetiva3" value="{{ form.instance.ope_taxadecompraefetiva3 }}" aria-label="Taxa de Compra Efetiva 3"></td>
              <td><input type="text" name="ope_taxadecompraefetiva4" value="{{ form.instance.ope_taxadecompraefetiva4 }}" aria-label="Taxa de Compra Efetiva 4"></td>
              <td><input type="text" name="ope_taxadecompraefetiva5" value="{{ form.instance.ope_taxadecompraefetiva5 }}" aria-label="Taxa de Compra Efetiva 5"></td>
              <td><input type="text" name="ope_taxadecompraefetiva6" value="{{ form.instance.ope_taxadecompraefetiva6 }}" aria-label="Taxa de Compra Efetiva 6"></td>              
            </tr>
            <tr>
              <td><label for="ope_taxaperiodo1">Taxa Período:</label></td>
              <td><input type="text" id="ope_taxaperiodo1" name="ope_taxaperiodo1" value="{{ form.instance.ope_taxaperiodo1 }}" required></td>
              <td><input type="text" name="ope_taxaperiodo2" value="{{ form.instance.ope_taxaperiodo2 }}" aria-label="Taxa por Período 2"></td>
              <td><input type="text" name="ope_taxaperiodo3" value="{{ form.instance.ope_taxaperiodo3 }}" aria-label="Taxa por Período 3"></td>
              <td><input type="text" name="ope_taxaperiodo4" value="{{ form.instance.ope_taxaperiodo4 }}" aria-label="Taxa por Período 4"></td>
              <td><input type="text" name="ope_taxaperiodo5" value="{{ form.instance.ope_taxaperiodo5 }}" aria-label="Taxa por Período 5"></td>
              <td><input type="text" name="ope_taxaperiodo6" value="{{ form.instance.ope_taxaperiodo6 }}" aria-label="Taxa por Período 6"></td>
            </tr>
            <tr>
              <td><label for="ope_valorcompra1">Valor de Compra:</label></td>
              <td><input type="text" id="ope_valorcompra1" name="ope_valorcompra1" value="{{ form.instance.ope_valorcompra1 }}" required></td>
              <td><input type="text" name="ope_valorcompra2" value="{{ form.instance.ope_valorcompra2 }}" aria-label="Valor de Compra 2"></td>
              <td><input type="text" name="ope_valorcompra3" value="{{ form.instance.ope_valorcompra3 }}" aria-label="Valor de Compra 3"></td>
              <td><input type="text" name="ope_valorcompra4" value="{{ form.instance.ope_valorcompra4 }}" aria-label="Valor de Compra 4"></td>
              <td><input type="text" name="ope_valorcompra5" value="{{ form.instance.ope_valorcompra5 }}" aria-label="Valor de Compra 5"></td>
              <td><input type="text" name="ope_valorcompra6" value="{{ form.instance.ope_valorcompra6 }}" aria-label="Valor de Compra 6"></td>
            </tr>
            <tr>
              <td><label for="ope_valoriof1">Valor IOF:</label></td>
              <td><input type="text" id="ope_valoriof1" name="ope_valoriof1" value="{{ form.instance.ope_valoriof1 }}" required></td>
              <td><input type="text" name="ope_valoriof2" value="{{ form.instance.ope_valoriof2 }}" aria-label="Valor do IOF 2"></td>
              <td><input type="text" name="ope_valoriof3" value="{{ form.instance.ope_valoriof3 }}" aria-label="Valor do IOF 3"></td>
              <td><input type="text" name="ope_valoriof4" value="{{ form.instance.ope_valoriof4 }}" aria-label="Valor do IOF 4"></td>
              <td><input type="text" name="ope_valoriof5" value="{{ form.instance.ope_valoriof5 }}" aria-label="Valor do IOF 5"></td>
              <td><input type="text" name="ope_valoriof6" value="{{ form.instance.ope_valoriof6 }}" aria-label="Valor do IOF 6"></td>
            </tr>
            <tr>
              <td><label for="ope_valoriofadicional1">Valor IOF Adicional:</label></td>
              <td><input type="text" id="ope_valoriofadicional1" name="ope_valoriofadicional1" value="{{ form.instance.ope_valoriofadicional1 }}" required></td>
              <td><input type="text" name="ope_valoriofadicional2" value="{{ form.instance.ope_valoriofadicional2 }}" aria-label="Valor Adicional do IOF 2"></td>
              <td><input type="text" name="ope_valoriofadicional3" value="{{ form.instance.ope_valoriofadicional3 }}" aria-label="Valor Adicional do IOF 3"></td>
              <td><input type="text" name="ope_valoriofadicional4" value="{{ form.instance.ope_valoriofadicional4 }}" aria-label="Valor Adicional do IOF 4"></td>
              <td><input type="text" name="ope_valoriofadicional5" value="{{ form.instance.ope_valoriofadicional5 }}" aria-label="Valor Adicional do IOF 5"></td>
              <td><input type="text" name="ope_valoriofadicional6" value="{{ form.instance.ope_valoriofadicional6 }}" aria-label="Valor Adicional do IOF 6"></td>
            </tr>
            <tr>
              <td><label for="ope_valorliquido1">Valor Líquido:</label></td>
              <td><input type="text" id="ope_valorliquido1" name="ope_valorliquido1" value="{{ form.instance.ope_valorliquido1 }}" required></td>
              <td><input type="text" name="ope_valorliquido2" value="{{ form.instance.ope_valorliquido2 }}" aria-label="Valor Líquido 2"></td>
              <td><input type="text" name="ope_valorliquido3" value="{{ form.instance.ope_valorliquido3 }}" aria-label="Valor Líquido 3"></td>
              <td><input type="text" name="ope_valorliquido4" value="{{ form.instance.ope_valorliquido4 }}" aria-label="Valor Líquido 4"></td>
              <td><input type="text" name="ope_valorliquido5" value="{{ form.instance.ope_valorliquido5 }}" aria-label="Valor Líquido 5"></td>
              <td><input type="text" name="ope_valorliquido6" value="{{ form.instance.ope_valorliquido6 }}" aria-label="Valor Líquido 6"></td>
            </tr>    
        </table>    
        <button type="submit">Salvar</button>
        <button type="button" onclick="calcular()">Calcular</button> 
    </form>
    <script>
      function calcular() {
        var dataOperacao = new Date(document.getElementsByName('ope_dataoperacao')[0].value);
        var myFloat = parseFloat(document.getElementsByName('ope_myfloat')[0].value) || 0;
    
        for (var i = 1; i <= 6; i++) {
          var campoVencimento = document.getElementsByName('ope_vencimento' + i)[0];
          var campoPrazo = document.getElementsByName('ope_prazo' + i)[0];
          var campoTaxaPeriodo = document.getElementsByName('ope_taxaperiodo' + i)[0];
          var campoValorCompra = document.getElementsByName('ope_valorcompra' + i)[0];
          var campoValorIOF = document.getElementsByName('ope_valoriof' + i)[0];
          var campoValorIOFadicional = document.getElementsByName('ope_valoriofadicional' + i)[0];
          var campoValorLiquido = document.getElementsByName('ope_valorliquido' + i)[0];
          var campoDespesas = document.getElementsByName('ope_despesas')[0];
          var campoAcrescimos = document.getElementsByName('ope_acrescimos')[0];
    
          if (campoVencimento && campoPrazo && campoTaxaPeriodo && campoValorCompra && campoValorIOF && campoValorIOFadicional && campoValorLiquido && campoDespesas && campoAcrescimos) {
            var vencimento = new Date(campoVencimento.value);
            var diferencaEmDias = Math.ceil((vencimento - dataOperacao) / (1000 * 60 * 60 * 24));
            var resultadoComFloat = diferencaEmDias + myFloat + 1;
    
            if (isNaN(resultadoComFloat)) {
              campoPrazo.value = 0;
              campoTaxaPeriodo.value = 0;
              campoValorCompra.value = 0;
              campoValorIOF.value = 0;
              campoValorIOFadicional.value = 0;
              campoValorLiquido.value = 0;
            } else {
              campoPrazo.value = resultadoComFloat;
    
              var taxaCompra = parseFloat(document.getElementsByName('ope_taxadecompra')[0].value) || 0;
              var taxaPeriodo = (taxaCompra / 30) * resultadoComFloat;
              campoTaxaPeriodo.value = taxaPeriodo.toFixed(2);
    
              var valortotal = parseFloat(document.getElementsByName('ope_valortotal' + i)[0].value) || 0;
              var valorCompra = (valortotal * taxaPeriodo) / 100;
              campoValorCompra.value = valorCompra.toFixed(2);
    
              var iof = parseFloat(document.getElementsByName('ope_iof')[0].value) || 0;
              var valoriof = (((iof / 365) * resultadoComFloat) * (valortotal - valorCompra)) / 100;
              campoValorIOF.value = valoriof.toFixed(2);
    
              var iofadicional = parseFloat(document.getElementsByName('ope_iofadicional')[0].value) || 0;
              var valoriofadicional = (iofadicional * (valortotal - valorCompra)) / 100;
              campoValorIOFadicional.value = valoriofadicional.toFixed(2);
    
              if (i === 1) {
                var despesas = parseFloat(campoDespesas.value) || 0;
                var acrescimos = parseFloat(campoAcrescimos.value) || 0;
                var valorLiquido1 = valortotal - valorCompra - valoriof - valoriofadicional - despesas + acrescimos;
                campoValorLiquido.value = valorLiquido1.toFixed(2);
              } else {
                var valorLiquido = valortotal - valorCompra - valoriof - valoriofadicional;
                campoValorLiquido.value = valorLiquido.toFixed(2);
              }
            }
          } else {
            campoPrazo.value = 0;
            campoTaxaPeriodo.value = 0;
            campoValorCompra.value = 0;
            campoValorIOF.value = 0;
            campoValorIOFadicional.value = 0;
            campoValorLiquido.value = 0;
          }
    
          var campoValortotal = document.getElementsByName('ope_valortotal' + i)[0];
          var campoTaxaCompra = document.getElementsByName('ope_taxadecompra')[0];
          var campoTaxaCompraEfetiva = document.getElementsByName('ope_taxadecompraefetiva' + i)[0];
    
          if (campoValortotal && campoTaxaCompra && campoTaxaCompraEfetiva) {
            var valortotal = parseFloat(campoValortotal.value) || 0;
            var taxaCompra = parseFloat(campoTaxaCompra.value) || 0;
            var taxaCompraEfetiva = ((valortotal * (taxaCompra / 100)) / (valortotal - (valortotal * (taxaCompra / 100)))) * 100;
            campoTaxaCompraEfetiva.value = isNaN(taxaCompraEfetiva) ? 0 : taxaCompraEfetiva.toFixed(2);
          }
        }
      }
    </script>   
</body>
</html>
