<!DOCTYPE html>
<html lang="pt-br">
{% load meus_filtros %}
{% load static %}

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRAR OPERAÇÃO - LION'S FOMENTO MERCANTIL LTDA</title>
    <link rel="stylesheet" type= "text/css" href="/static/admin/css/style.css"> <!-- O endereço tem que ser diferente das demais páginas, sem .. -->
    <link rel="icon" href="/static/admin/img/LogoPrincipalLions.png" type="image/x-icon"> <!-- O endereço tem que ser diferente das demais páginas, sem .. -->
</head>

<body>
  <header>
    <div class="logo">
      <img src="/static/admin/img/LogoPrincipalLions..png" alt="Logo"> <!-- O endereço tem que ser diferente das demais páginas, sem .. -->
    </div>
    <h1>Cadastrar Operação</h1>
  </header>

  <main class="container"> 
    <form method="post">
      {% csrf_token %}
        <!-- Neste campo de data preciso manter o formato das datas vencimento das operações, elas precisam ter o mesmo padrão date:'Y-m-d' -->
        <div class="form-group custom-form-group">
          <label class="label-diferente" for="ope_dataoperacao">Data de Operação:</label>
          <input type="date" id="ope_dataoperacao" name="ope_dataoperacao" value="{{ form.initial.ope_dataoperacao|date:'Y-m-d' }}" required>
        </div>
        <div class="form-group custom-form-group">
          <label class="label-diferente" for="ope_status">Status Operação:</label>
          <select name="ope_status" id="ope_status" required>
              {% for value, label in form.fields.ope_status.choices %}
                <option value="{{ value }}" {% if form.instance.ope_status == value %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
          </select>   
        </div>
        <fieldset>
          <legend>Relacionamentos</legend>
          <div class="form-group custom-form-groups">
            {{ form.cli_id.errors }}
            <label class="label-diferente" for="{{ form.cli_id.id_for_label }}" class="form-control">Cliente:</label>
            {{ form.cli_id }}
          </div>
          <div class="form-group custom-form-groups">
            {{ form.fac_id.errors }}
            <label class="label-diferente" for="{{ form.fac_id.id_for_label }}" class="form-control">Factoring:</label>
            {{ form.fac_id }}
          </div>
          <div class="form-group custom-form-groups">
            {{ form.cma_id.errors }}
            <label class="label-diferente" for="{{ form.cma_id.id_for_label }}" class="form-control">Contrato Mãe:</label>
            {{ form.cma_id }}
          </div>
        </fieldset>
        <fieldset class="custom-fieldset">
        <legend>Taxas e Limites</legend>
          <div></div>
          <div class="form-group">
            <label for="ope_taxacompra">Taxa de Compra %:</label>
            <input type="text" id="ope_taxacompra" name="ope_taxacompra" value="{% if form.initial.ope_taxacompra %}{{ form.initial.ope_taxacompra|stringformat:"f" }}{% endif %}" required>
          </div>
      
          <div class="form-group">
            <label for="ope_iof">IOF Anual %:</label>
            <input type="text" id="ope_iof" name="ope_iof" value="{% if form.initial.ope_iof %}{{ form.initial.ope_iof|stringformat:"f" }}{% endif %}" required>
          </div>
      
          <div class="form-group">
            <label for="ope_iofadicional">IOF Adicional %:</label>
            <input type="text" id="ope_iofadicional" name="ope_iofadicional" value="{% if form.initial.ope_iofadicional %}{{ form.initial.ope_iofadicional|stringformat:"f" }}{% endif %}" required>
          </div>

          <div></div>
          <div></div>
        
          <div class="form-group">
            <label for="ope_despesas">Despesas $ (-):</label>
            <input type="text" id="ope_despesas" name="ope_despesas" value="{{ form.initial.ope_despesas|stringformat:"f" }}">
          </div>
        
          <div class="form-group">
            <label for="ope_acrescimos">Acréscimos $ (+):</label>
            <input type="text" id="ope_acrescimos" name="ope_acrescimos" value="{{ form.initial.ope_acrescimos|stringformat:"f" }}">
          </div>

          <div class="form-group">
            <label for="ope_float">MyFloat:</label>
            <input type="text" id="ope_float" name="ope_float" value="{% if form.initial.ope_float %}{{ form.initial.ope_float|stringformat:"f" }}{% endif %}" required>
          </div>
        </fieldset>
       
        <fieldset>
        <legend>Detalhes da Operação</legend>
          <table>
            <tr>
              <td><label class="label-diferente" for="ope_numtitulo1">Nº Título:</label></td>
              <td><input type="text" id="ope_numtitulo1" name="ope_numtitulo1" value="{{ form.instance.ope_numtitulo1 }}" required></td>
              <td><input type="text" id="ope_numtitulo2" name="ope_numtitulo2" value="{{ form.instance.ope_numtitulo2 }}" aria-label="Nº Título 2"></td>
              <td><input type="text" id="ope_numtitulo3" name="ope_numtitulo3" value="{{ form.instance.ope_numtitulo3 }}" aria-label="Nº Título 3"></td>
              <td><input type="text" id="ope_numtitulo4" name="ope_numtitulo4" value="{{ form.instance.ope_numtitulo4 }}" aria-label="Nº Título 4"></td>
              <td><input type="text" id="ope_numtitulo5" name="ope_numtitulo5" value="{{ form.instance.ope_numtitulo5 }}" aria-label="Nº Título 5"></td>
              <td><input type="text" id="ope_numtitulo6" name="ope_numtitulo6" value="{{ form.instance.ope_numtitulo6 }}" aria-label="Nº Título 6"></td>
            </tr>
            <tr>
              <td><label class="label-diferente" for="ope_razaosocial1">Razão Social:</label></td>
              <td><input type="text" id="ope_razaosocial1" name="ope_razaosocial1" value="{{ form.instance.ope_razaosocial1 }}" oninput="converterParaCaixaAlta(this)" required></td>
              <td><input type="text" id="ope_razaosocial2" name="ope_razaosocial2" value="{{ form.instance.ope_razaosocial2 }}" oninput="converterParaCaixaAlta(this)" aria-label="Razão Social 2"></td>
              <td><input type="text" id="ope_razaosocial3" name="ope_razaosocial3" value="{{ form.instance.ope_razaosocial3 }}" oninput="converterParaCaixaAlta(this)" aria-label="Razão Social 3"></td>
              <td><input type="text" id="ope_razaosocial4" name="ope_razaosocial4" value="{{ form.instance.ope_razaosocial4 }}" oninput="converterParaCaixaAlta(this)" aria-label="Razão Social 4"></td>
              <td><input type="text" id="ope_razaosocial5" name="ope_razaosocial5" value="{{ form.instance.ope_razaosocial5 }}" oninput="converterParaCaixaAlta(this)" aria-label="Razão Social 5"></td>
              <td><input type="text" id="ope_razaosocial6" name="ope_razaosocial6" value="{{ form.instance.ope_razaosocial6 }}" oninput="converterParaCaixaAlta(this)" aria-label="Razão Social 6"></td>
            </tr>         
            <tr>
              <td><label class="label-diferente" for="ope_cnpj1">CNPJ:</label></td>
              <td><input type="text" id="ope_cnpj1" name="ope_cnpj1" value="{{ form.instance.ope_cnpj1 }}" required></td>
              <td><input type="text" id="ope_cnpj2" name="ope_cnpj2" value="{{ form.instance.ope_cnpj2 }}" aria-label="CNPJ 2"></td>
              <td><input type="text" id="ope_cnpj3" name="ope_cnpj3" value="{{ form.instance.ope_cnpj3 }}" aria-label="CNPJ 3"></td>
              <td><input type="text" id="ope_cnpj4" name="ope_cnpj4" value="{{ form.instance.ope_cnpj4 }}" aria-label="CNPJ 4"></td>
              <td><input type="text" id="ope_cnpj5" name="ope_cnpj5" value="{{ form.instance.ope_cnpj5 }}" aria-label="CNPJ 5"></td>
              <td><input type="text" id="ope_cnpj6" name="ope_cnpj6" value="{{ form.instance.ope_cnpj6 }}" aria-label="CNPJ 6"></td>
            </tr>                    
            <tr>
              <td><label class="label-diferente" for="ope_email1">E-mail:</label></td>
              <td><input type="email" id="ope_email1" name="ope_email1" value="{{ form.instance.ope_email1 }}" required></td>
              <td><input type="email" id="ope_email2" name="ope_email2" value="{{ form.instance.ope_email2|default:'' }}" aria-label="E-mail 2"></td>
              <td><input type="email" id="ope_email3" name="ope_email3" value="{{ form.instance.ope_email3|default:'' }}" aria-label="E-mail 3"></td>
              <td><input type="email" id="ope_email4" name="ope_email4" value="{{ form.instance.ope_email4|default:'' }}" aria-label="E-mail 4"></td>
              <td><input type="email" id="ope_email5" name="ope_email5" value="{{ form.instance.ope_email5|default:'' }}" aria-label="E-mail 5"></td>
              <td><input type="email" id="ope_email6" name="ope_email6" value="{{ form.instance.ope_email6|default:'' }}" aria-label="E-mail 6"></td>
            </tr>          
            <tr>
              <td><label class="label-diferente" for="ope_telefone1">Telefone:</label></td>
              <td><input type="text" id="ope_telefone1" name="ope_telefone1" value="{{ form.instance.ope_telefone1 }}" required></td>
              <td><input type="text" id="ope_telefone2" name="ope_telefone2" value="{{ form.instance.ope_telefone2 }}" aria-label="Telefone 2"></td>
              <td><input type="text" id="ope_telefone3" name="ope_telefone3" value="{{ form.instance.ope_telefone3 }}" aria-label="Telefone 3"></td>
              <td><input type="text" id="ope_telefone4" name="ope_telefone4" value="{{ form.instance.ope_telefone4 }}" aria-label="Telefone 4"></td>
              <td><input type="text" id="ope_telefone5" name="ope_telefone5" value="{{ form.instance.ope_telefone5 }}" aria-label="Telefone 5"></td>
              <td><input type="text" id="ope_telefone6" name="ope_telefone6" value="{{ form.instance.ope_telefone6 }}" aria-label="Telefone 6"></td>
            </tr>          
            <tr>
              <td><label class="label-diferente" for="ope_nomecontato1">Nome Contato:</label></td>
              <td><input type="text" id="ope_nomecontato1" name="ope_nomecontato1" value="{{ form.instance.ope_nomecontato1 }}" oninput="converterParaCaixaAlta(this)" required></td>
              <td><input type="text" id="ope_nomecontato2" name="ope_nomecontato2" value="{{ form.instance.ope_nomecontato2 }}" oninput="converterParaCaixaAlta(this)" aria-label="Nome Contato 2"></td>
              <td><input type="text" id="ope_nomecontato3" name="ope_nomecontato3" value="{{ form.instance.ope_nomecontato3 }}" oninput="converterParaCaixaAlta(this)" aria-label="Nome Contato 3"></td>
              <td><input type="text" id="ope_nomecontato4" name="ope_nomecontato4" value="{{ form.instance.ope_nomecontato4 }}" oninput="converterParaCaixaAlta(this)" aria-label="Nome Contato 4"></td>
              <td><input type="text" id="ope_nomecontato5" name="ope_nomecontato5" value="{{ form.instance.ope_nomecontato5 }}" oninput="converterParaCaixaAlta(this)" aria-label="Nome Contato 5"></td>
              <td><input type="text" id="ope_nomecontato6" name="ope_nomecontato6" value="{{ form.instance.ope_nomecontato6 }}" oninput="converterParaCaixaAlta(this)" aria-label="Nome Contato 6"></td>
            </tr>          
            <tr>
              <td><label class="label-diferente" for="ope_endereco1">Endereço:</label></td>
              <td><input type="text" id="ope_endereco1" name="ope_endereco1" value="{{ form.instance.ope_endereco1 }}" oninput="converterParaCaixaAlta(this)" required></td>
              <td><input type="text" id="ope_endereco2" name="ope_endereco2" value="{{ form.instance.ope_endereco2 }}" oninput="converterParaCaixaAlta(this)" aria-label="Endereço 2"></td>
              <td><input type="text" id="ope_endereco3" name="ope_endereco3" value="{{ form.instance.ope_endereco3 }}" oninput="converterParaCaixaAlta(this)" aria-label="Endereço 3"></td>
              <td><input type="text" id="ope_endereco4" name="ope_endereco4" value="{{ form.instance.ope_endereco4 }}" oninput="converterParaCaixaAlta(this)" aria-label="Endereço 4"></td>
              <td><input type="text" id="ope_endereco5" name="ope_endereco5" value="{{ form.instance.ope_endereco5 }}" oninput="converterParaCaixaAlta(this)" aria-label="Endereço 5"></td>
              <td><input type="text" id="ope_endereco6" name="ope_endereco6" value="{{ form.instance.ope_endereco6 }}" oninput="converterParaCaixaAlta(this)" aria-label="Endereço 6"></td>
            </tr>          
            <tr>
              <td><label class="label-diferente" for="ope_complementoendereco1">Complemento Endereço:</label></td>
              <td><input type="text" id="ope_complementoendereco1" name="ope_complementoendereco1" value="{{ form.instance.ope_complementoendereco1 }}" oninput="converterParaCaixaAlta(this)" required></td>
              <td><input type="text" id="ope_complementoendereco2" name="ope_complementoendereco2" value="{{ form.instance.ope_complementoendereco2 }}" oninput="converterParaCaixaAlta(this)" aria-label="Complemento Endereço 2"></td>
              <td><input type="text" id="ope_complementoendereco3" name="ope_complementoendereco3" value="{{ form.instance.ope_complementoendereco3 }}" oninput="converterParaCaixaAlta(this)" aria-label="Complemento Endereço 3"></td>
              <td><input type="text" id="ope_complementoendereco4" name="ope_complementoendereco4" value="{{ form.instance.ope_complementoendereco4 }}" oninput="converterParaCaixaAlta(this)" aria-label="Complemento Endereço 4"></td>
              <td><input type="text" id="ope_complementoendereco5" name="ope_complementoendereco5" value="{{ form.instance.ope_complementoendereco5 }}" oninput="converterParaCaixaAlta(this)" aria-label="Complemento Endereço 5"></td>
              <td><input type="text" id="ope_complementoendereco6" name="ope_complementoendereco6" value="{{ form.instance.ope_complementoendereco6 }}" oninput="converterParaCaixaAlta(this)" aria-label="Complemento Endereço 6"></td>
            </tr>          
            <tr>
              <td><label class="label-diferente" for="ope_cep1">CEP:</label></td>
              <td><input type="text" id="ope_cep1" name="ope_cep1" value="{{ form.instance.ope_cep1 }}" required></td>
              <td><input type="text" id="ope_cep2" name="ope_cep2" value="{{ form.instance.ope_cep2 }}" aria-label="CEP 2"></td>
              <td><input type="text" id="ope_cep3" name="ope_cep3" value="{{ form.instance.ope_cep3 }}" aria-label="CEP 3"></td>
              <td><input type="text" id="ope_cep4" name="ope_cep4" value="{{ form.instance.ope_cep4 }}" aria-label="CEP 4"></td>
              <td><input type="text" id="ope_cep5" name="ope_cep5" value="{{ form.instance.ope_cep5 }}" aria-label="CEP 5"></td>
              <td><input type="text" id="ope_cep6" name="ope_cep6" value="{{ form.instance.ope_cep6 }}" aria-label="CEP 6"></td>
            </tr>          
            <tr>
              <td><label class="label-diferente" for="ope_bairro1">Bairro:</label></td>
              <td><input type="text" id="ope_bairro1" name="ope_bairro1" value="{{ form.instance.ope_bairro1 }}" oninput="converterParaCaixaAlta(this)" required></td>
              <td><input type="text" id="ope_bairro2" name="ope_bairro2" value="{{ form.instance.ope_bairro2 }}" oninput="converterParaCaixaAlta(this)" aria-label="Bairro 2"></td>
              <td><input type="text" id="ope_bairro3" name="ope_bairro3" value="{{ form.instance.ope_bairro3 }}" oninput="converterParaCaixaAlta(this)" aria-label="Bairro 3"></td>
              <td><input type="text" id="ope_bairro4" name="ope_bairro4" value="{{ form.instance.ope_bairro4 }}" oninput="converterParaCaixaAlta(this)" aria-label="Bairro 4"></td>
              <td><input type="text" id="ope_bairro5" name="ope_bairro5" value="{{ form.instance.ope_bairro5 }}" oninput="converterParaCaixaAlta(this)" aria-label="Bairro 5"></td>
              <td><input type="text" id="ope_bairro6" name="ope_bairro6" value="{{ form.instance.ope_bairro6 }}" oninput="converterParaCaixaAlta(this)" aria-label="Bairro 6"></td>
            </tr>          
            <tr>
              <td><label class="label-diferente" for="ope_cidade1">Cidade:</label></td>
              <td><input type="text" id="ope_cidade1" name="ope_cidade1" value="{{ form.instance.ope_cidade1 }}" oninput="converterParaCaixaAlta(this)" required></td>
              <td><input type="text" id="ope_cidade2" name="ope_cidade2" value="{{ form.instance.ope_cidade2 }}" oninput="converterParaCaixaAlta(this)" aria-label="Cidade 2"></td>
              <td><input type="text" id="ope_cidade3" name="ope_cidade3" value="{{ form.instance.ope_cidade3 }}" oninput="converterParaCaixaAlta(this)" aria-label="Cidade 3"></td>
              <td><input type="text" id="ope_cidade4" name="ope_cidade4" value="{{ form.instance.ope_cidade4 }}" oninput="converterParaCaixaAlta(this)" aria-label="Cidade 4"></td>
              <td><input type="text" id="ope_cidade5" name="ope_cidade5" value="{{ form.instance.ope_cidade5 }}" oninput="converterParaCaixaAlta(this)" aria-label="Cidade 5"></td>
              <td><input type="text" id="ope_cidade6" name="ope_cidade6" value="{{ form.instance.ope_cidade6 }}" oninput="converterParaCaixaAlta(this)" aria-label="Cidade 6"></td>
            </tr>          
            <tr>
              <td><label class="label-diferente" for="ope_estado1">Estado:</label></td>
              <td><input type="text" id="ope_estado1" name="ope_estado1" value="{{ form.instance.ope_estado1 }}" oninput="converterParaCaixaAlta(this)" required></td>
              <td><input type="text" id="ope_estado2" name="ope_estado2" value="{{ form.instance.ope_estado2 }}" oninput="converterParaCaixaAlta(this)" aria-label="Estado 2"></td>
              <td><input type="text" id="ope_estado3" name="ope_estado3" value="{{ form.instance.ope_estado3 }}" oninput="converterParaCaixaAlta(this)" aria-label="Estado 3"></td>
              <td><input type="text" id="ope_estado4" name="ope_estado4" value="{{ form.instance.ope_estado4 }}" oninput="converterParaCaixaAlta(this)" aria-label="Estado 4"></td>
              <td><input type="text" id="ope_estado5" name="ope_estado5" value="{{ form.instance.ope_estado5 }}" oninput="converterParaCaixaAlta(this)" aria-label="Estado 5"></td>
              <td><input type="text" id="ope_estado6" name="ope_estado6" value="{{ form.instance.ope_estado6 }}" oninput="converterParaCaixaAlta(this)" aria-label="Estado 6"></td>
            </tr>          
            <tr>
              <td><label class="label-diferente" for="ope_vencimento1">Vencimento:</label></td>
              <td><input type="date" id="ope_vencimento1" name="ope_vencimento1" value="{{ form.initial.ope_vencimento1|date:'Y-m-d' }}" required ></td>
              <td><input type="date" id="ope_vencimento2" name="ope_vencimento2" value="{{ form.initial.ope_vencimento2|date:'Y-m-d' }}" aria-label="Data de ope_vencimento2"></td>
              <td><input type="date" id="ope_vencimento3" name="ope_vencimento3" value="{{ form.initial.ope_vencimento3|date:'Y-m-d' }}" aria-label="Data de ope_vencimento3"></td>
              <td><input type="date" id="ope_vencimento4" name="ope_vencimento4" value="{{ form.initial.ope_vencimento4|date:'Y-m-d' }}" aria-label="Data de ope_vencimento4"></td>
              <td><input type="date" id="ope_vencimento5" name="ope_vencimento5" value="{{ form.initial.ope_vencimento5|date:'Y-m-d' }}" aria-label="Data de ope_vencimento5"></td>
              <td><input type="date" id="ope_vencimento6" name="ope_vencimento6" value="{{ form.initial.ope_vencimento6|date:'Y-m-d' }}" aria-label="Data de ope_vencimento6"></td>              
            </tr>
            <tr>
              <td><label class="label-diferente" for="ope_valortotal1">Valor Total:</label></td>
              <td><input type="text" id="ope_valortotal1" name="ope_valortotal1" value="{% if form.initial.ope_valortotal1 %}{{ form.initial.ope_valortotal1|stringformat:".2f" }}{% endif %}" required ></td>
              <td><input type="text" id="ope_valortotal2" name="ope_valortotal2" value="{% if form.initial.ope_valortotal2 is not None %}{{ form.initial.ope_valortotal2|stringformat:".2f" }}{% endif %}" aria-label="Valor Total2"></td>
              <td><input type="text" id="ope_valortotal3" name="ope_valortotal3" value="{% if form.initial.ope_valortotal3 is not None %}{{ form.initial.ope_valortotal3|stringformat:".2f" }}{% endif %}" aria-label="Valor Total3"></td>
              <td><input type="text" id="ope_valortotal4" name="ope_valortotal4" value="{% if form.initial.ope_valortotal4 is not None %}{{ form.initial.ope_valortotal4|stringformat:".2f" }}{% endif %}" aria-label="Valor Total4"></td>
              <td><input type="text" id="ope_valortotal5" name="ope_valortotal5" value="{% if form.initial.ope_valortotal5 is not None %}{{ form.initial.ope_valortotal5|stringformat:".2f" }}{% endif %}" aria-label="Valor Total5"></td>
              <td><input type="text" id="ope_valortotal6" name="ope_valortotal6" value="{% if form.initial.ope_valortotal6 is not None %}{{ form.initial.ope_valortotal6|stringformat:".2f" }}{% endif %}" aria-label="Valor Total6"></td>
            </tr>
            <tr>
              <td><label class="label-diferente" for="ope_prazo1">Prazo:</label></td>
              <td><input type="text" id="ope_prazo1" name="ope_prazo1" value="{{ form.instance.ope_prazo1 }}" required></td>
              <td><input type="text" name="ope_prazo2" value="{{ form.instance.ope_prazo2 }}" aria-label="Prazo 2"></td>
              <td><input type="text" name="ope_prazo3" value="{{ form.instance.ope_prazo3 }}" aria-label="Prazo 3"></td>
              <td><input type="text" name="ope_prazo4" value="{{ form.instance.ope_prazo4 }}" aria-label="Prazo 4"></td>
              <td><input type="text" name="ope_prazo5" value="{{ form.instance.ope_prazo5 }}" aria-label="Prazo 5"></td>
              <td><input type="text" name="ope_prazo6" value="{{ form.instance.ope_prazo6 }}" aria-label="Prazo 6"></td>              
            </tr>
            <tr>
              <td><label class="label-diferente" for="ope_taxadecompraefetiva1">Taxa de Compra Efetiva:</label></td>
              <td><input type="text" id="ope_taxadecompraefetiva1" name="ope_taxadecompraefetiva1" value="{{ form.instance.ope_taxadecompraefetiva1 }}" required></td>
              <td><input type="text" name="ope_taxadecompraefetiva2" value="{{ form.instance.ope_taxadecompraefetiva2 }}" aria-label="Taxa de Compra Efetiva 2"></td>
              <td><input type="text" name="ope_taxadecompraefetiva3" value="{{ form.instance.ope_taxadecompraefetiva3 }}" aria-label="Taxa de Compra Efetiva 3"></td>
              <td><input type="text" name="ope_taxadecompraefetiva4" value="{{ form.instance.ope_taxadecompraefetiva4 }}" aria-label="Taxa de Compra Efetiva 4"></td>
              <td><input type="text" name="ope_taxadecompraefetiva5" value="{{ form.instance.ope_taxadecompraefetiva5 }}" aria-label="Taxa de Compra Efetiva 5"></td>
              <td><input type="text" name="ope_taxadecompraefetiva6" value="{{ form.instance.ope_taxadecompraefetiva6 }}" aria-label="Taxa de Compra Efetiva 6"></td>              
            </tr>
            <tr>
              <td><label class="label-diferente" for="ope_taxaperiodo1">Taxa Período:</label></td>
              <td><input type="text" id="ope_taxaperiodo1" name="ope_taxaperiodo1" value="{{ form.instance.ope_taxaperiodo1 }}" required></td>
              <td><input type="text" name="ope_taxaperiodo2" value="{{ form.instance.ope_taxaperiodo2 }}" aria-label="Taxa por Período 2"></td>
              <td><input type="text" name="ope_taxaperiodo3" value="{{ form.instance.ope_taxaperiodo3 }}" aria-label="Taxa por Período 3"></td>
              <td><input type="text" name="ope_taxaperiodo4" value="{{ form.instance.ope_taxaperiodo4 }}" aria-label="Taxa por Período 4"></td>
              <td><input type="text" name="ope_taxaperiodo5" value="{{ form.instance.ope_taxaperiodo5 }}" aria-label="Taxa por Período 5"></td>
              <td><input type="text" name="ope_taxaperiodo6" value="{{ form.instance.ope_taxaperiodo6 }}" aria-label="Taxa por Período 6"></td>
            </tr>
            <tr>
              <td><label class="label-diferente" for="ope_valorcompra1">Valor de Compra:</label></td>
              <td><input type="text" id="ope_valorcompra1" name="ope_valorcompra1" value="{{ form.instance.ope_valorcompra1 }}" required></td>
              <td><input type="text" name="ope_valorcompra2" value="{{ form.instance.ope_valorcompra2 }}" aria-label="Valor de Compra 2"></td>
              <td><input type="text" name="ope_valorcompra3" value="{{ form.instance.ope_valorcompra3 }}" aria-label="Valor de Compra 3"></td>
              <td><input type="text" name="ope_valorcompra4" value="{{ form.instance.ope_valorcompra4 }}" aria-label="Valor de Compra 4"></td>
              <td><input type="text" name="ope_valorcompra5" value="{{ form.instance.ope_valorcompra5 }}" aria-label="Valor de Compra 5"></td>
              <td><input type="text" name="ope_valorcompra6" value="{{ form.instance.ope_valorcompra6 }}" aria-label="Valor de Compra 6"></td>
            </tr>
            <tr>
              <td><label class="label-diferente" for="ope_valoriof1">Valor IOF:</label></td>
              <td><input type="text" id="ope_valoriof1" name="ope_valoriof1" value="{{ form.instance.ope_valoriof1 }}" required></td>
              <td><input type="text" name="ope_valoriof2" value="{{ form.instance.ope_valoriof2 }}" aria-label="Valor do IOF 2"></td>
              <td><input type="text" name="ope_valoriof3" value="{{ form.instance.ope_valoriof3 }}" aria-label="Valor do IOF 3"></td>
              <td><input type="text" name="ope_valoriof4" value="{{ form.instance.ope_valoriof4 }}" aria-label="Valor do IOF 4"></td>
              <td><input type="text" name="ope_valoriof5" value="{{ form.instance.ope_valoriof5 }}" aria-label="Valor do IOF 5"></td>
              <td><input type="text" name="ope_valoriof6" value="{{ form.instance.ope_valoriof6 }}" aria-label="Valor do IOF 6"></td>
            </tr>
            <tr>
              <td><label class="label-diferente" for="ope_valoriofadicional1">Valor IOF Adicional:</label></td>
              <td><input type="text" id="ope_valoriofadicional1" name="ope_valoriofadicional1" value="{{ form.instance.ope_valoriofadicional1 }}" required></td>
              <td><input type="text" name="ope_valoriofadicional2" value="{{ form.instance.ope_valoriofadicional2 }}" aria-label="Valor Adicional do IOF 2"></td>
              <td><input type="text" name="ope_valoriofadicional3" value="{{ form.instance.ope_valoriofadicional3 }}" aria-label="Valor Adicional do IOF 3"></td>
              <td><input type="text" name="ope_valoriofadicional4" value="{{ form.instance.ope_valoriofadicional4 }}" aria-label="Valor Adicional do IOF 4"></td>
              <td><input type="text" name="ope_valoriofadicional5" value="{{ form.instance.ope_valoriofadicional5 }}" aria-label="Valor Adicional do IOF 5"></td>
              <td><input type="text" name="ope_valoriofadicional6" value="{{ form.instance.ope_valoriofadicional6 }}" aria-label="Valor Adicional do IOF 6"></td>
            </tr>
            <tr>
              <td><label class="label-diferente" for="ope_valorliquido1">Valor Líquido:</label></td>
              <td><input type="text" id="ope_valorliquido1" name="ope_valorliquido1" value="{{ form.instance.ope_valorliquido1 }}" required></td>
              <td><input type="text" name="ope_valorliquido2" value="{{ form.instance.ope_valorliquido2 }}" aria-label="Valor Líquido 2"></td>
              <td><input type="text" name="ope_valorliquido3" value="{{ form.instance.ope_valorliquido3 }}" aria-label="Valor Líquido 3"></td>
              <td><input type="text" name="ope_valorliquido4" value="{{ form.instance.ope_valorliquido4 }}" aria-label="Valor Líquido 4"></td>
              <td><input type="text" name="ope_valorliquido5" value="{{ form.instance.ope_valorliquido5 }}" aria-label="Valor Líquido 5"></td>
              <td><input type="text" name="ope_valorliquido6" value="{{ form.instance.ope_valorliquido6 }}" aria-label="Valor Líquido 6"></td>
            </tr>    
          </table>
        </fieldset>
        <div>
          <button class="calcular-btn" type="button" onclick="calcularoperacao()">CALCULAR</button> 
        </div>
        <div>
          <button class="cadastrar-btn" type="submit" name="Cadastrar OPERAÇÃO">Cadastrar OPERAÇÃO</button>
        </div>
        <div>
          <button class="pagina-principal-btn" type="button" onclick="irParaPaginaPrincipal()">Ir para a Página Principal</button>
        </div>
    </form>
  </main>

  <footer>
    <p>Sistemas CAVT 2023 - 2024. Todos os direitos reservados. Segurança e privacidade.</p>
  </footer>

  <script src="/static/admin/js/script.js"></script><!-- O endereço tem que ser diferente das demais páginas, sem .. -->

</body>
</html>
