<!DOCTYPE html>
{% load meus_filtros %}
<html lang="pt-br">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cliente</title>
    <link rel="stylesheet" href="./style0.css">
</head>

<body>
    <header>
        <section>
            <h1>Inserir Clientes</h1>
        </section>
    </header>
    <main class="container">
        <form method="post">
            {% csrf_token %}
                <td><label for="cli_razaosocial">Razão Social:</label></td>
                <td><input type="text" id="cli_razaosocial" name="cli_razaosocial" value="{{ form.instance.cli_razaosocial }}" oninput="converterParaCaixaAlta(this)" required></td>
            
                <td><label for="cli_nomefantasia">Nome Fantasia:</label></td>
                <td><input type="text" id="cli_nomefantasia" name="cli_nomefantasia" value="{{ form.instance.cli_nomefantasia }}" oninput="converterParaCaixaAlta(this)" required></td>
            
                <td><label for="cli_cnpj">CNPJ:</label></td>
                <td><input type="text" id="cli_cnpj" name="cli_cnpj" value="{{ form.instance.cli_cnpj }}" required></td>
            
                <td><label for="cli_im">Insc. Municipal:</label></td>
                <td><input type="text" id="cli_im" name="cli_im" value="{{ form.instance.cli_im }}"></td>
                        
                <td><label for="cli_ie">Insc. Estadual:</label></td>
                <td><input type="text" id="cli_ie" name="cli_ie" value="{{ form.instance.cli_ie }}"></td>
                        
                <td><label for="cli_email1">E-mail:</label></td>
                <td><input type="email" id="cli_email1" name="cli_email1" value="{{ form.instance.cli_email1 }}" required></td>
                        
                <td><label for="cli_email2">E-mail2:</label></td>
                <td><input type="email" id="cli_email2" name="cli_email2" value="{{ form.instance.cli_email2 }}"></td>

                <td><label for="cli_telefone1">Telefone:</label></td>
                <td><input type="tel" id="cli_telefone1" name="cli_telefone1" value="{{ form.instance.cli_telefone1 }}" required></td>
                        
                <td><label for="cli_telefone2">Telefone2:</label></td>
                <td><input type="tel" id="cli_telefone2" name="cli_telefone2" value="{{ form.instance.cli_telefone2 }}"></td>
                        
                <td><label for="cli_endereco">Endereço:</label></td>
                <td><input type="text" id="cli_endereco" name="cli_endereco" value="{{ form.instance.cli_endereco }}" oninput="converterParaCaixaAlta(this)" required></td>
                        
                <td><label for="cli_complementoendereco">Complemento:</label></td>
                <td><input type="text" id="cli_complementoendereco" name="cli_complementoendereco" value="{{ form.instance.cli_complementoendereco }}" oninput="converterParaCaixaAlta(this)"></td>
                        
                <td><label for="cli_cep">CEP:</label></td>
                <td><input type="text" id="cli_cep" name="cli_cep" value="{{ form.instance.cli_cep }}" required></td>
                        
                <td><label for="cli_bairro">Bairro:</label></td>
                <td><input type="text" id="cli_bairro" name="cli_bairro" value="{{ form.instance.cli_bairro }}" oninput="converterParaCaixaAlta(this)" required></td>       

                <td><label for="cli_cidade">Cidade:</label></td>
                <td><input type="text" id="cli_cidade" name="cli_cidade" value="{{ form.instance.cli_cidade }}" oninput="converterParaCaixaAlta(this)" required></td>
                        
                <td><label for="cli_estado">Estado:</label></td>
                <td><input type="text" id="cli_estado" name="cli_estado" value="{{ form.instance.cli_estado }}" oninput="converterParaCaixaAlta(this)" required></td>
            
                <div class="form-group" style="display: inline-block; width: 12%; margin-right: 2%;">
                    <label for="cli_taxacompra">Taxa de Compra %:</label>
                    <input type="text" id="cli_taxacompra" name="cli_taxacompra" value="{% if form.initial.cli_taxacompra %}{{ form.initial.cli_taxacompra|stringformat:"f"  }}{% endif %}" class="form-control" required>
                </div>                                         

                <div class="form-group" style="display: inline-block; width: 12%; margin-right: 2%;">
                    <label for="cli_multa">Multa %:</label>
                    <input type="text" id="cli_multa" name="cli_multa" value="{% if form.initial.cli_multa %}{{ form.initial.cli_multa|stringformat:"f" }}{% endif %}" class="form-control" required>
                </div>            
    
                <div class="form-group" style="display: inline-block; width: 12%; margin-right: 2%;">
                    <label for="cli_juros">Juros Mensal %:</label>
                    <input type="text" id="cli_juros" name="cli_juros" value="{% if form.initial.cli_juros %}{{ form.initial.cli_juros|stringformat:"f" }}{% endif %}" class="form-control" required>
                </div>                       
    
                <div class="form-group" style="display: inline-block; width: 12%; margin-right: 2%;">
                    <label for="cli_taxarecompra">Taxa de Recompra $:</label>
                    <input type="text" id="cli_taxarecompra" name="cli_taxarecompra" value="{% if form.initial.cli_taxarecompra %}{{ form.initial.cli_taxarecompra|stringformat:"f" }}{% endif %}" class="form-control" required>
                </div>
                       
                
                <div class="form-group" style="display: inline-block; width: 12%; margin-right: 2%;">
                    <label for="cli_valortotaloperacao">Valor Limite Operação:</label>
                    <input type="text" id="cli_valortotaloperacao" name="cli_valortotaloperacao" value="{{ form.instance.cli_valortotaloperacao|stringformat:"f" }}" class="form-control" required>
                </div>
                <div style="clear: both;"></div>          
                <div class="form-group" style="display: inline-block; width: 12%; margin-right: 2%;">
                    <!-- criado para trazer a data de cadastro automaticamente -->
                    <label for="{{ form.cli_datacadastro.id_for_label }}">Data Cadastro:</label>
                    {{ form.cli_datacadastro }}
                </div>
        
                <div>
                    <input type="submit" name="Cadastrar Cliente">
                    <button type="button" onclick="irParaPaginaPrincipal()">Ir para a Página Principal</button>
                </div>
        </form>
    </main>
    <script>
        $(document).ready(function(){
            $('#cli_cnpj').mask('00.000.000/0000-00');
    
            $('#cli_im').mask('000.000.000');

            $('#cli_ie').mask('000.000.000.000');

            $('#cli_telefone1').mask('(00) 00000-0000')

            $('#cli_telefone2').mask('(00) 00000-0000')

            $('#cli_cep').mask('00000-000');

        });
    </script>
    <script>
        function converterParaCaixaAlta(elemento) {
            elemento.value = elemento.value.toUpperCase();
        }
    </script>
    <script>
        function irParaPaginaPrincipal() {
            window.location.href = "http://127.0.0.1:8000/Inicio";
        }
    </script>
</body>

</html>