<!DOCTYPE html>
<html lang="pt-br">
{% load meus_filtros %}
{% load static %}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRAR FACTORING - LION'S FOMENTO MERCANTIL LTDA</title>
    <link rel="stylesheet" type= "text/css" href="../static/admin/css/style.css">
    <link rel="icon" href="../static/admin/img/LogoPrincipalLions.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../static/admin/img/LogoPrincipalLions..png" alt="Logo">
        </div>
        <h1>Cadastrar Factoring</h1>
    </header> 

    <main class="container">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Dados da Empresa</legend>
                <div>
                    <label for="fac_razaosocial">Razão Social:</label>
                    <input type="text" id="fac_razaosocial" name="fac_razaosocial" value="{{ form.instance.fac_razaosocial }}" oninput="converterParaCaixaAlta(this)" required>
                </div>
                <div>
                    <label for="fac_nomefantasia">Nome Fantasia:</label>
                    <input type="text" id="fac_nomefantasia" name="fac_nomefantasia" value="{{ form.instance.fac_nomefantasia }}" oninput="converterParaCaixaAlta(this)" required>
                </div>
                <div>
                    <label for="fac_cnpj">CNPJ:</label>
                    <input type="text" id="fac_cnpj" name="fac_cnpj" value="{{ form.instance.fac_cnpj }}" required>
                </div>
                <div>
                    <label for="fac_im">Insc. Municipal:</label>
                    <input type="text" id="fac_im" name="fac_im" value="{{ form.instance.fac_im }}">
                </div>
                <div>
                    <label for="fac_ie">Insc. Estadual:</label>
                    <input type="text" id="fac_ie" name="fac_ie" value="{{ form.instance.fac_ie }}">
                </div>
                <div>   
                    <label for="{{ form.fac_datafundacao.id_for_label }}">Data Fundação:</label>
                    {{ form.fac_datafundacao }}
                </div>
                <div>
                    <label for="fac_email1">E-mail:</label>
                    <input type="email" id="fac_email1" name="fac_email1" value="{{ form.instance.fac_email1 }}" required>
                </div>
                <div>
                    <label for="fac_email2">E-mail2:</label>
                    <input type="email" id="fac_email2" name="fac_email2" value="{{ form.instance.fac_email2 }}">
                </div>
                <div>
                    <label for="fac_telefone1">Telefone:</label>
                    <input type="tel" id="fac_telefone1" name="fac_telefone1" value="{{ form.instance.fac_telefone1 }}" required>
                </div>
                <div>
                    <label for="fac_telefone2">Telefone2:</label>
                    <input type="tel" id="fac_telefone2" name="fac_telefone2" value="{{ form.instance.fac_telefone2 }}">
                </div>
                <div>
                    <label for="fac_endereco">Endereço:</label>
                    <input type="text" id="fac_endereco" name="fac_endereco" value="{{ form.instance.fac_endereco }}" oninput="converterParaCaixaAlta(this)" required>
                </div>
                <div>
                    <label for="fac_complementoendereco">Complemento Endereço:</label>
                    <input type="text" id="fac_complementoendereco" name="fac_complementoendereco" value="{{ form.instance.fac_complementoendereco }}" oninput="converterParaCaixaAlta(this)">
                </div>
                <div>
                    <label for="fac_cep">CEP:</label>
                    <input type="text" id="fac_cep" name="fac_cep" value="{{ form.instance.fac_cep }}" required>
                </div>
                <div>
                    <label for="fac_bairro">Bairro:</label>
                    <input type="text" id="fac_bairro" name="fac_bairro" value="{{ form.instance.fac_bairro }}" oninput="converterParaCaixaAlta(this)" required>
                </div>
                <div>
                    <label for="fac_cidade">Cidade:</label>
                    <input type="text" id="fac_cidade" name="fac_cidade" value="{{ form.instance.fac_cidade }}" oninput="converterParaCaixaAlta(this)" required>
                </div>
                <div>
                    <label for="fac_estado">Estado:</label>
                    <input type="text" id="fac_estado" name="fac_estado" value="{{ form.instance.fac_estado }}" oninput="converterParaCaixaAlta(this)" required>
                </div>
            </fieldset>
            <fieldset class="custom-fieldset">
                <legend>Taxas e Limites</legend>
                <div class="form-group">
                    <label class="label-diferente2" for="fac_taxacompra">Taxa de Compra %:</label>
                    <input type="text" id="fac_taxacompra" name="fac_taxacompra" value="{{ form.instance.fac_taxacompra|stringformat:"f" }}" class="form-control" required>
                </div>
            
                <div class="form-group">
                    <label class="label-diferente2" for="fac_iof">IOF Anual %:</label>
                    <input type="text" id="fac_iof" name="fac_iof" value="{{ form.instance.fac_iof|stringformat:"f" }}" class="form-control" required>
                </div>
            
                <div class="form-group">
                    <label class="label-diferente2" for="fac_iofadicional">IOF Adicional %:</label>
                    <input type="text" id="fac_iofadicional" name="fac_iofadicional" value="{{ form.instance.fac_iofadicional|stringformat:"f" }}" class="form-control" required>
                </div>
            
                <div class="form-group">
                    <label class="label-diferente2" for="fac_pis">PIS %:</label>
                    <input type="text" id="fac_pis" name="fac_pis" value="{{ form.instance.fac_pis|stringformat:"f" }}" class="form-control" required>
                </div>
            
                <div class="form-group">
                    <label class="label-diferente2" for="fac_cofins">COFINS %:</label>
                    <input type="text" id="fac_cofins" name="fac_cofins" value="{{ form.instance.fac_cofins|stringformat:"f" }}" class="form-control" required>
                </div>
            
                <div class="form-group">
                    <label class="label-diferente2" for="fac_float">Float em dias:</label>
                    <input type="text" id="fac_float" name="fac_float" value="{{ form.instance.fac_float }}" class="form-control" required>
                </div>
            
                <div class="form-group">
                    <label class="label-diferente2" for="fac_multa">Multa %:</label>
                    <input type="text" id="fac_multa" name="fac_multa" value="{{ form.instance.fac_multa|stringformat:"f" }}" class="form-control" required>
                </div>
            
                <div class="form-group">
                    <label class="label-diferente2" for="fac_juros">Juros Mensal %:</label>
                    <input type="text" id="fac_juros" name="fac_juros" value="{{ form.instance.fac_juros|stringformat:"f" }}" class="form-control" required>
                </div>
            
                <div class="form-group">
                    <label class="label-diferente2" for="fac_taxarecompra">Taxa de Recompra $:</label>
                    <input type="text" id="fac_taxarecompra" name="fac_taxarecompra" value="{{ form.instance.fac_taxarecompra|stringformat:"f" }}" class="form-control" required>
                </div>
            
                <div class="form-group">
                    <label class="label-diferente2" for="fac_valortotaloperacao">Valor Limite Operação Factoring:</label>
                    <input type="text" id="fac_valortotaloperacao" name="fac_valortotaloperacao" value="{{ form.instance.fac_valortotaloperacao|stringformat:"f" }}" class="form-control" required>
                </div>
            </fieldset>
            <div class="form-group custom-form-group">
                <label class="label-diferente" for="{{ form.fac_datacadastro.id_for_label }}">Data de Cadastro:</label>
                {{ form.fac_datacadastro }}
            </div>                    
            <div>
                <button class="cadastrar-btn" type="submit" name="Cadastrar FACTORING">Cadastrar FACTORING</button>
            </div>
            <div>  
                <button class="pagina-principal-btn" type="button" onclick="irParaPaginaPrincipal()">Ir para a Página Principal</button>
            </div>
        </form>
    </main>

    <footer>
        <p>Sistemas CAVT 2023 - 2024. Todos os direitos reservados. Segurança e privacidade.</p>
    </footer>

    <script src="../static/admin/js/script.js"></script>

</body>
</html>