<!DOCTYPE html>
<html lang="pt-br">
{% load meus_filtros %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Contrato Mãe</title>
    <link rel="stylesheet" type= "text/css" href="../static/style.css"> 
</head>

<body>
    <header>
        <section>
            <h1>Gerar Contrato Mãe</h1>
        </section>
    </header>   
    <main class="container">
        <form method="post">
            {% csrf_token %}            
            <div class="form-group">
                {{ form.cma_id2.errors }}
                <label for="{{ form.cma_id2.id_for_label }}" class="form-control"> ID Contrato Mãe: </label>
                {{ form.cma_id2 }}
            </div>

            <div class="form-group">
                {{ form.cli_id.errors }}
                <label for="{{ form.cli_id.id_for_label }}" class="form-control"> ID Cliente: </label>
                {{ form.cli_id }}
            </div>
            
            <div class="form-group">
                {{ form.fac_id.errors }}
                <label for="{{ form.fac_id.id_for_label }}" class="form-control"> ID Factoring: </label>
                {{ form.fac_id }}
            </div>

        <!-- criado para trazer a data de cadastro automaticamente -->
        <label for="{{ form.cma_datacadastro.id_for_label }}">Data Cadastro:</label>
        {{ form.cma_datacadastro }}

        <!-- criado para trazer a data de vencimento automaticamente -->
        <label for="{{ form.cma_validadecontrato.id_for_label }}">Validade Contrato:</label>
        {{ form.cma_validadecontrato }}

        <div>
            <input type="submit" name="Cadastrar Contrato">
            <button type="button" onclick="irParaPaginaPrincipal()">Ir para a Página Principal</button>
        </div>
    </form>   
    </main>   
    <script>
        function irParaPaginaPrincipal() {
            window.location.href = "http://127.0.0.1:8000/Inicio";
        }
    </script>  
</body>

</html>