<!DOCTYPE html>
<html lang="pt-br">
{% load meus_filtros %}
{% load static %}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRAR PAGAMENTOS - LION'S FOMENTO MERCANTIL LTDA</title>
    <link rel="stylesheet" type= "text/css" href="../static/admin/css/style.css">
    <link rel="icon" href="../static/admin/img/LogoPrincipalLions.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo">
        <img src="../static/admin/img/LogoPrincipalLions..png" alt="Logo">
        </div>
        <h1>Cadastrar Pagamentos</h1>
    </header> 

    <main class="container">
        <form method="post">
            {% csrf_token %}
         
            <div class="form-group custom-form-group">
                <label class="label-diferente" for="car_datapgto">Data de Pagamento:</label>
                <input type="date" id="car_datapgto" name="car_datapgto" value="{{ form.initial.car_datapgto|date:'Y-m-d' }}" required>
            </div>
            <div class="form-group custom-form-group">
                {{ form.ope_id.errors }}
                <label class="label-diferente" for="{{ form.ope_id.id_for_label }}" class="form-control">Operação/ Cliente:</label>
                {{ form.ope_id }}
            </div>

            <fieldset class="custom-fieldset">
            <legend>Dados da Operação</legend>
                <div></div>
                <div class="form-group custom-form-groups">
                    {{ form.car_titulonumero.errors }}
                    <label class="label-diferente" for="{{ form.car_titulonumero.id_for_label }}" class="form-control">Número Título:</label>
                    {{ form.car_titulonumero }}
                </div>
                <div></div>
                <div class="form-group custom-form-groups">
                    {{ form.car_valorpgto.errors }}
                    <label class="label-diferente" for="{{ form.car_valorpgto.id_for_label }}" class="form-control">Valor Pagamento:</label>
                    {{ form.car_valorpgto }}
                </div>
            </fieldset>
            <div>
                <button class="cadastrar-btn" type="submit" name="Cadastrar PAGAMENTO">Cadastrar PAGAMENTO</button>
            </div>
            <div>  
                <button class="pagina-principal-btn" type="button" onclick="irParaPaginaPrincipal()">Ir para a Página Principal</button>
            </div>
        </form>
    </main>

    <footer>
        <p>Sistemas CAVT 2023 - 2024. Todos os direitos reservados. Segurança e privacidade.</p>
    </footer>

    <script src="../static/admin/js/script.js"></script>

</body>
</html>
