<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Simulações</title>
    <link rel="stylesheet" type= "text/css" href="../static/style.css">
</head>

<body>
    <h1>Listar Simulações</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID SIMULAÇÃO</th>
                <th>DATA SIMULAÇÃO</th>
                <th>ID CLIENTE</th>
                <th>ID FACTORING</th>
                <th>TAXA DE COMPRA</th>
                <th>DESPESAS $</th>
                <th>ACRÉSCIMOS $</th>
                <th>FLOAT</th>
                <th>STATUS</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            {% for i in simulacao %}
                {% if i.sim_status == '1' %}
                    <tr>
                        <td>{{i.sim_id}}</td>
                        <td>{{i.sim_datasimulacao}}</td>
                        <td>{{i.cli_id}}</td>
                        <td>{{i.fac_id}}</td>
                        <td>{{i.sim_taxacompra}}</td>       
                        <td>{{i.sim_despesas}}</td>
                        <td>{{i.sim_acrescimos}}</td>
                        <td>{{i.sim_float}}</td>
                        <td>{{i.sim_status}}</td>
                        <td class="actions">
                            <a href="{% url 'editar_simulacao' i.sim_id %}" class="edit">Editar</a>
                            <a href="{% url 'inserir_operacao' i.sim_id %}" class="operation">Incluir Operação</a>
                            <form method="post" action="{% url 'gerar_simulacao_word' i.sim_id %}">
                                {% csrf_token %}
                                <button type="submit" class="generate-word">Gerar Word Simulação</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'inserir_simulacao' %}" class="create-simulation">
        <button>Cadastrar Simulação</button>
    </a>
    <button type="button" onclick="irParaPaginaPrincipal()">Ir para a Página Principal</button>
    
    <script>
        function irParaPaginaPrincipal() {
            window.location.href = "http://127.0.0.1:8000/Inicio";
        }
    </script>
</body>
</html>
