<!DOCTYPE html>
<html lang="pt-br">
{% load meus_filtros %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Operações</title>
    <link rel="stylesheet" type= "text/css" href="../static/style.css"> 
</head>
<body>
<h1>Listar Operações</h1>

<table class="table">
    <thead>
    <tr>
        <th>ID OPERAÇÃO:</th>
        <th>DATA OPERAÇÃO:</th>
        <th>ID CLIENTE:</th>
        <th>ID FACTORING:</th>
        <th>TAXA DE COMPRA:</th>
        <th>IOF ANUAL %:</th>
        <th>IOF ADICIONAL %:</th>
        <th>DESPESAS $:</th>
        <th>ACRÉSCIMOS $:</th>
        <th>FLOAT:</th>
        <th>STATUS:</th>
        <th>AÇÕES</th>
    </tr>
    </thead>
    <tbody>
    {% for i in operacao %}
    {% if i.ope_status == '2' %}
    <tr>
        <td>{{i.ope_id}}</td>
        <td>{{i.ope_dataoperacao}}</td>
        <td>{{i.cli_id}}</td>
        <td>{{i.fac_id}}</td>
        <td>{{i.ope_taxacompra}}</td>
        <td>{{i.ope_iof}}</td>
        <td>{{i.ope_iofadicional}}</td>
        <td>{{i.ope_despesas}}</td>
        <td>{{i.ope_acrescimos}}</td>
        <td>{{i.ope_float}}</td>
        <td>{{i.ope_status}}</td>
        <td class="actions">
            <form method="post" action="{% url 'gerar_operacao_word' i.ope_id %}">
                {% csrf_token %}
                <a href="{% url 'editar_operacao' i.ope_id %}" class="edit">Editar 2</a>
                <button type="submit" class="generate-word">Gerar Word Aditivo</button>
            </form>
            <form method="post" action="{% url 'gerar_promissoria_word' i.ope_id %}">
                {% csrf_token %}
                <button type="submit" class="generate-word">Gerar Promissória Word</button>
            </form>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
<script>
    function irParaPaginaPrincipal() {
        window.location.href = "http://127.0.0.1:8000/Inicio";
    }
</script>
</body>
</html>
