<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Pessoas</title>
    <link rel="stylesheet" type= "text/css" href="../static/style.css">
</head>
<body>
    <h1>Listar Pessoas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID PESSOA</th>
                <th>NOME</th>
                <th>CPF</th>
                <th>RG</th>
                <th>ESTADO CIVÍL</th>
                <th>NACIONALIDADE</th>
                <th>E-MAIL 1</th>
                <th>E-MAIL 2</th>
                <th>TELEFONE 1</th>
                <th>TELEFONE 2</th>
                <th>PROFISSÃO</th>
                <th>ENDEREÇO</th>
                <th>COMPLEMENTO</th>
                <th>CEP</th>
                <th>BAIRRO</th>
                <th>CIDADE</th>
                <th>ESTADO</th>
                <th>ID CLIENTE</th>
                <th>ID FACTORING</th>
                <th>TIPO PESSOA</th>
                <th>DATA CADASTRO</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            {% for i in pessoas %}
                <tr>
                    <td>{{i.pes_id}}</td>
                    <td>{{i.pes_nome}}</td>
                    <td>{{i.pes_cpf}}</td>
                    <td>{{i.pes_rg}}</td>
                    <td>{{i.pes_estadocivil}}</td>
                    <td>{{i.pes_nacionalidade}}</td>
                    <td>{{i.pes_email1}}</td>
                    <td>{{i.pes_email2}}</td>
                    <td>{{i.pes_telefone1}}</td>
                    <td>{{i.pes_telefone2}}</td>
                    <td>{{i.pes_profissao}}</td>
                    <td>{{i.pes_endereco}}</td>
                    <td>{{i.pes_complementoendereco}}</td>
                    <td>{{i.pes_cep}}</td>
                    <td>{{i.pes_bairro}}</td>
                    <td>{{i.pes_cidade}}</td>
                    <td>{{i.pes_estado}}</td>
                    <td>{{i.cli_id}}</td>
                    <td>{{i.fac_id}}</td>
                    <td>{{i.pes_tipopessoa}}</td>
                    <td>{{i.pes_datacadastro}}</td>
                    <td>
                        <a href="{% url 'editar_pessoas' i.pes_id %}">Editar</a>
                        <a href="{% url 'remover_pessoas' i.pes_id %}">Remover</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url 'inserir_pessoas' %}">
        <button>Cadastrar Pessoas</button>
    </a>
    <script>
        function irParaPaginaPrincipal() {
            window.location.href = "http://127.0.0.1:8000/Inicio";
        }
    </script>
</body>
</html>
