<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Simulação por ID</title>
</head>

<body>

    <div class="card">
        <div class="card-header">
            Dados Simulação
        </div>
        <div class="card-body">
            <h5 class="card-title">ID SIMULAÇÃO: {{simulacao_id.sim_id}}</h5>
            <h5 class="card-title">DATA SIMULAÇÃO: {{simulacao_id.sim_datasimulacao}}</h5>
            <h5 class="card-title">CLIENTE ID: {{simulacao_id.cli_id}}</h5>
            <h5 class="card-title">FACTORING ID: {{simulacao_id.fac_id}}</h5>
        </div>
    </div>
</body>
</html>