<!DOCTYPE html>
<html lang="pt-br">
{% load meus_filtros %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Operacação por ID</title>
    <link rel="stylesheet" type= "text/css" href="../static/style.css"> 
</head>

<body>

    <div class="card">
        <div class="card-header">
            Dados Operação
        </div>
        <div class="card-body">
            <h5 class="card-title">ID OPERAÇÃO: {{i.ope_id}}</h5>
            <h5 class="card-title">DATA OPERAÇÃO: {{i.ope_dataoperacao}}</h5>
            <h5 class="card-title">CLIENTE ID: {{i.cli_id}}</h5>
            <h5 class="card-title">FACTORING ID: {{i.fac_id}}</h5>
        </div>
        {% if i.ope_id %}
            <form method="post" action="{% url 'gerar_operacao_word' i.ope_id %}">
                {% csrf_token %}
                <a class="edit-btn" href="{% url 'editar_operacao' i.ope_id %}">Editar 2</a>
                <button type="submit" class="btn btn-secondary">Gerar Word</button>
            </form>
            <form method="post" action="{% url 'gerar_promissoria_word' i.ope_id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Gerar Promissória Word</button>
            </form>            
        {% else %}
            <p>Operação ID não disponível.</p>
        {% endif %}
    </div>
</body>
</html>