<!DOCTYPE html>
<html lang="pt-br">
{% load meus_filtros %}
{% load static %}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTAR FACTORINGS - LION'S FOMENTO MERCANTIL LTDA</title>
    <link rel="stylesheet" type= "text/css" href="../static/admin/css/style.css">
    <link rel="icon" href="../static/admin/img/LogoPrincipalLions.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../static/admin/img/LogoPrincipalLions..png" alt="Logo">
        </div>
        <h1>Listar Factorings</h1>
    </header> 

    <main> 
        <form>
            <input type="text" id="searchInput" placeholder="Buscar qualquer informação...">
            <fieldset>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome Fantasia</th>
                            <th>CNPJ</th>
                            <th>Insc. Municipal</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th>Taxa de Compra %</th>
                            <th>Limite Operação</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for i in clientes %}
                        <tr>
                            <td>{{i.fac_nomefantasia}}</td>
                            <td>{{i.fac_cnpj}}</td>
                            <td>{{i.fac_im}}</td>
                            <td>{{i.fac_email1}}</td>
                            <td>{{i.fac_telefone1}}</td>
                            <td>{{i.fac_taxacompra}}%</td>
                            <td>R$ {{ i.fac_valortotaloperacao }}</td>
                            <td>
                                <div>
                                    <a class="edit-btn" href="{% url 'editar_factorings' i.fac_id %}">Editar/ Detalhes</a>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a class="remove-btn" href="{% url 'remover_factorings' i.fac_id %}">Remover</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>    
            </fieldset>
            <div>
                <button class="pagina-principal-btn" type="button" onclick="irParaPaginaPrincipal()">Ir para a Página Principal</button>
            </div>
        </form> 
    </main>

    <footer>
        <p>Sistemas CAVT 2023 - 2024. Todos os direitos reservados. Segurança e privacidade.</p>
    </footer>

    <script src="../static/admin/js/script.js"></script>

</body>
</html>