<!DOCTYPE html>
<html lang="pt-br">
{% load meus_filtros %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LION'S FOMENTO MERCANTIL LTDA</title>
    <link rel="stylesheet" type= "text/css" href="../static/admin/css/style.css">     
    <link rel="icon" href="../static/admin/img/LogoPrincipalLions.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo">
          <img src="../static/admin/img/LogoPrincipalLions..png" alt="Logo">
        </div>
        <h1>Sistema de Factoring - Lion's</h1>
      </header>
        <table>
            <tr>
                <td>
                    <div class="dropdown-container">
                        <a class="main-option" href="#">Inserir</a>
                        <div class="dropdown-content">
                            <a href="{% url 'inserir_factorings'%}"> Factoring</a>
                            <a href="{% url 'inserir_clientes'%}"> Cliente</a>
                            <a href="{% url 'inserir_pessoas'%}"> Pessoas</a>
                            <a href="{% url 'inserir_contratomae'%}"> Contrato Mãe</a>
                            <a href="{% url 'inserir_simulacao'%}"> Simulação</a>
                            <a href="{% url 'listar_simulacaocopy'%}"> Operação</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown-container">
                        <a class="main-option" href="#">Listar</a>
                        <div class="dropdown-content">
                            <a href="{% url 'listar_factorings'%}"> Factoring</a>
                            <a href="{% url 'listar_clientes'%}"> Clientes</a>
                            <a href="{% url 'listar_pessoas'%}"> Pessoas</a>
                            <a href="{% url 'listar_contratomae'%}"> Contrato Mãe</a>
                            <a href="{% url 'listar_simulacao'%}"> Simulação</a>
                            <a href="{% url 'listar_simulacaocopy'%}"> Simulação</a>
                            <a href="{% url 'listar_operacao'%}"> Operação</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown-container">
                        <a class="main-option" href="#">Impressão</a>
                        <div class="dropdown-content">
                            <a href="{% url 'listar_contratomae'%}"> Contrato Mãe</a>
                            <a href="{% url 'listar_simulacaocopy'%}"> Simulação</a>
                            <a href="{% url 'listar_operacao'%}"> Operação/ NP</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown-container">
                        <a class="main-option" href="#">Gestão de Carteira</a>
                        <div class="dropdown-content">
                            <a href="{% url 'listar_carteira'%}"> Listar Carteira</a>
                            <a href="{% url 'inserir_pagamentos'%}"> Inserir Pagamentos</a>
                            <a href="{% url 'listar_pagamentos'%}"> Listar Pagamentos</a>
                        </div>
                    </div>
                </td>
                
            </tr>
        </table>
    <footer>
        <p>Sistemas CAVT 2023 - 2024. Todos os direitos reservados. Segurança e privacidade.</p>
    </footer>
</body>
</html>