
<!DOCTYPE html>
<html>
<head>
    <title>Sistema Factoring - Lion's</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Factoring da Lion's!</h1>
    <td>
        <a href="{% url 'index'%}">Área de Cadastro/ Login</a>
        <br>
        <br>
        <a href="{% url 'inserir_clientes'%}">Inserir Cliente</a>
        <br>
        <br>
        <a href="{% url 'inserir_factorings'%}">Inserir Factoring</a>
        <br>
        <br>
        <a href="{% url 'inserir_pessoas'%}">Inserir Pessoas</a>
        <br>
        <br>        
        <a href="{% url 'listar_clientes'%}">Listar Clientes</a>
        <br>
        <br>
        <a href="{% url 'listar_factorings'%}">Listar Factoring</a>
        <br>
        <br>
        <a href="{% url 'listar_pessoas'%}">Listar Pessoas</a>
        
    </td>

    
</body>
</html>
